<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<h2>The numbers below come from  for <strong>HeroComponent</strong></h2>
<button (click)="addNumber()">Push 1 to myServiceService Number[]</button>
<ul>
  <li *ngFor="let num of numbers">{{ num }}</li>
</ul>

<h2>BehaviorSubject</h2>
<p>Below is the ** data:any[] ** from HeroComponent, it should receive the subscribed update from arugularFormComponent</p>
<ul>
  <li *ngFor="let d of data">{{ d.name }}</li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>