/*Write all of your CSS here*/
label {
    display: block;
}

.user_info {
    display: block;
    text-align: right;
    margin-left: 4rem;
}

.all_quotes {
    width: 30%;
    margin: 4rem auto;
}

.all_movies {
    border: 2px solid yellow;
    padding: 2rem 3rem;
}

#search_result {
    margin: 2rem auto;
    padding: 2rem 3rem;
    border: 2px solid yellow;
}