<!DOCTYPE html>
<html lang="en">

<head>
    <title>Routing Game|Right</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
</head>

<body>
    <h1>Choose Your Own Adventure</h1>
    <h3>You enter a room with no light. Suddently you get eaten by spiders. Game over!</h3>

    <a class="row" href="/">Start Over</a>

</body>

</html>