<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Routing Game</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Choose Your Own Adventure</h1>
            <h3>You awoke in a room with 2 doors, where do you go?</h3>
            
            <div class="row">
                <a class="one-half column" href="/left">Left</a>
                <a class="one-half column" href="/right">Right</a>
            </div>
        </div>
    </body>
</html>