h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}

.section_barcode {
  display: flex;
}

.barcode {
  width: 10px;
  height: 80px;
}

.switches {
  display: flex;
  justify-content: space-around;
}

button {
  width: 7rem;
  height: 2rem;
  color: white;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}