<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to {{title}}!</h1>

<section class="section_barcode">
  <div *ngFor="let div of numberOfDivs" class="barcode" [ngStyle]="{'background-color': div}"></div>
</section>

<section class="switches">
  <button *ngFor="let swBtn of switchButtons; let idx = index" (click)="swBtn.turnSwitch()" [ngClass]="{'on': swBtn.switchBool, 'off': !swBtn.switchBool}">
    {{ swBtn.switchStatus }}
    <input type="hidden" [value]="idx">
  </button>
</section>

<!-- hero form -->
<app-heros></app-heros>
<!-- arugular-form -->
<h2>Arugular Form</h2>
<app-arugular-form></app-arugular-form>

