@model asp_candyman.Models.UserLogin
<h2>Login</h2>
<form asp-controller="User" asp-action="Login" method="post">
    <span asp-validation-for="LoginEmail"></span>
    <label asp-for="LoginEmail"></label>
    <input class="form-control" asp-for="LoginEmail"/>

    <span asp-validation-for="LoginPassword"></span>
    <label asp-for="LoginPassword"></label>
    <input asp-for="LoginPassword" class="form-control"/>

    <button type="submit" class="btn">Login</button>
</form>