<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cats</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h2>Cats</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas dignissim venenatis. Vivamus lacinia vitae augue vel
        vestibulum. Donec dignissim mattis dapibus. Duis mattis facilisis purus vel interdum. Curabitur nec mi lorem. Curabitur eu pellentesque arcu, vel accumsan arcu. Pellentesque commodo honcus nunc, at sodales dui feugiat sed. Cras tincidunt nisi ligula, eu vehicula sem ornare et. Etiam varius, nisl quis tincidunt interdum, tellus erat semper est, et egestas est quam faucibus lacus. Sed et ex ullamcorper ante porttitor consectetur at ut risus. Ut turpis orci, aliquam tempus turpis ut, blandit viverra enim. Nulla cursus mauris vitae velit facilisis, a venenatis nibh euismod.
</p>
    </body>
</html>