* {
    outline: 1px dashed gold;
    box-sizing: border-box
}

.btn {
    text-align: center;
    position: fixed;
    top: 60vh;
    left: 25vw;
    display: flex;
    justify-content: space-around;
}

button {
    /* display: block; */
    width: 150px;
    height: 2rem;
}

