@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2>Another API, TMDB!</h2>
<form action="/movies" method="post">
    <label for="name">Search by name: <br>
        <input type="text" name="name">
    </label>
    <input type="submit" value="search">
</form>

<section class="all_movies">
    

</section>