@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewData["Title"] = "User"; }

@Html.Partial("./Partials/LoginForm")
@Html.Partial("./Partials/RegisterForm")

<h2>User Page!</h2>
<h5>@ViewData["success"]</h5>
