<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Time</title>
</head>
<body>
    <h1>The Current Time is:</h1>
    @{
        DateTime current = DateTime.Now;
        string date = String.Format("{0:yyyy-M-d dddd}", current);
        string time = String.Format("{0:HH:mm:ss tt}", current);
    }
	<h2>@date</h2>
    <h2>@time</h2>
    
</body>
</html>