<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Display Time</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'time_display/css/my_style.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>The current time is:</h1>
        {% load tz %}
        {% localtime on %}
        <h1>{{ time }}</h1>
        {% endlocaltime %}
        <button><a href="/time_display/rand_str">Go see Rand_str</a></button>
        {% block rand_str %}
        {% endblock %}
        <hr>
        <button><a href="/time_display/session_words">Go See Session_words</a></button>
        {% block session_words %}
        {% endblock %}

        <h2>Display school_student</h2>
        {% for ea in all_students %}
        <p>{{ ea.fname }} {{ ea.lname}} is at {{ ea.school.name }}</p>
        {% endfor %}
    </body>
</html>